h1 {
  color: #b83b5e;
  text-align: center;
  font-size: 36px;
}
#search-bar {
  padding: 8px;
  margin: 8px;
  border: solid #b83b5e;
  border-width: 0.5px;
  border-radius: 20px;
  background: none;
  color: #b83b5e;
  max-width: 150px;
}
form {
  text-align: center;
}
h2 {
  color: #b83b5e;
  text-transform: capitalize;
  font-size: 30px;
}
h4,
p {
  color: #db6400;
}
h4 {
  text-transform: uppercase;
}
p {
  font-weight: 600;
}
#definition {
  font-size: 18px;
}
#example {
  text-indent: 20px;
  margin-top: 10px;
  font-size: 13px;
}
#synonyms {
  font-size: 13px;
}
#phonetics-text {
  color: #b83b5e;
  margin-left: 15px;
}
a {
  color: #b83b5e;
}
