h1 {
  color: #b83b5e;
  text-align: center;
}
#search-bar {
  padding: 8px;
  margin: 8px;
  border: solid #b83b5e;
  border-width: 0.5px;
  border-radius: 20px;
  background: none;
  color: #b83b5e;
  max-width: 150px;
}
form {
  text-align: center;
}
h2 {
  color: #b83b5e;
  text-transform: capitalize;
}
h4,
p {
  color: #db6400;
}
p {
  font-weight: 600;
}
